In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("/home/careinfolab/Dr_Luo/Rohan/ICD_Codes/Dataset/icd10-codes-and-descriptions/ICD10codes.csv",header=None)

In [4]:
df.describe()

,0,1,2,3,4,5
count,71704,69499,71704,71704,71704,71704
unique,19927,65,71704,71703,71703,19911
top,S72326,A,A000,Left ovarian pregnancy without intrauterine pr...,Left ovarian pregnancy without intrauterine pr...,Nondisplaced fracture of lateral condyle of ri...
freq,16,9034,1,2,2,16

In [5]:
df

,0,1,2,3,4,5
0,A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar chol...","Cholera due to Vibrio cholerae 01, biovar chol...",Cholera
1,A00,1,A001,"Cholera due to Vibrio cholerae 01, biovar eltor","Cholera due to Vibrio cholerae 01, biovar eltor",Cholera
2,A00,9,A009,"Cholera, unspecified","Cholera, unspecified",Cholera
3,A010,0,A0100,"Typhoid fever, unspecified","Typhoid fever, unspecified",Typhoid fever
4,A010,1,A0101,Typhoid meningitis,Typhoid meningitis,Typhoid fever
...,...,...,...,...,...,...
71699,Z991,2,Z9912,Encounter for respirator dependence during pow...,Encounter for respirator [ventilator] dependen...,Dependence on respirator
71700,Z992,NaN,Z992,Dependence on renal dialysis,Dependence on renal dialysis,Dependence on renal dialysis
71701,Z993,NaN,Z993,Dependence on wheelchair,Dependence on wheelchair,Dependence on wheelchair
71702,Z998,1,Z9981,Dependence on supplemental oxygen,Dependence on supplemental oxygen,Dependence on other enabling machines and devices
71703,Z998,9,Z9989,Dependence on other enabling machines and devices,Dependence on other enabling machines and devices,Dependence on other enabling machines and devices

In [6]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [7]:
def add_dot(s):
    return s[:3]+'.'+s[3:]

In [8]:
for i in range(len(df)):
    if len(df[0].iloc[i])>3:
        df.loc[i, 4] = df[4].iloc[i] + ', ' + df[5].iloc[i]
        df.loc[i, 2] = add_dot(df[2].iloc[i])

In [9]:
df.head(10)

,0,1,2,3,4,5
0,A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar chol...","Cholera due to Vibrio cholerae 01, biovar chol...",Cholera
1,A00,1,A001,"Cholera due to Vibrio cholerae 01, biovar eltor","Cholera due to Vibrio cholerae 01, biovar eltor",Cholera
2,A00,9,A009,"Cholera, unspecified","Cholera, unspecified",Cholera
3,A010,0,A01.00,"Typhoid fever, unspecified","Typhoid fever, unspecified, Typhoid fever",Typhoid fever
4,A010,1,A01.01,Typhoid meningitis,"Typhoid meningitis, Typhoid fever",Typhoid fever
5,A010,2,A01.02,Typhoid fever with heart involvement,"Typhoid fever with heart involvement, Typhoid ...",Typhoid fever
6,A010,3,A01.03,Typhoid pneumonia,"Typhoid pneumonia, Typhoid fever",Typhoid fever
7,A010,4,A01.04,Typhoid arthritis,"Typhoid arthritis, Typhoid fever",Typhoid fever
8,A010,5,A01.05,Typhoid osteomyelitis,"Typhoid osteomyelitis, Typhoid fever",Typhoid fever
9,A010,9,A01.09,Typhoid fever with other complications,"Typhoid fever with other complications, Typhoi...",Typhoid fever

In [10]:
df = df.drop([0,1,3,5], axis=1)
df = df.set_axis(['ICD_Code', 'Description'], axis=1)

In [11]:
df.head(5)

  ICD_Code                                        Description
0     A000  Cholera due to Vibrio cholerae 01, biovar chol...
1     A001    Cholera due to Vibrio cholerae 01, biovar eltor
2     A009                               Cholera, unspecified
3   A01.00          Typhoid fever, unspecified, Typhoid fever
4   A01.01                  Typhoid meningitis, Typhoid fever

In [12]:
for i in range(len(df)):
    if '.' not in df['ICD_Code'].iloc[i]:
        df.loc[i, 'ICD_Code'] = add_dot(df['ICD_Code'].iloc[i])

In [13]:
df.head(10)

  ICD_Code                                        Description
0    A00.0  Cholera due to Vibrio cholerae 01, biovar chol...
1    A00.1    Cholera due to Vibrio cholerae 01, biovar eltor
2    A00.9                               Cholera, unspecified
3   A01.00          Typhoid fever, unspecified, Typhoid fever
4   A01.01                  Typhoid meningitis, Typhoid fever
5   A01.02  Typhoid fever with heart involvement, Typhoid ...
6   A01.03                   Typhoid pneumonia, Typhoid fever
7   A01.04                   Typhoid arthritis, Typhoid fever
8   A01.05               Typhoid osteomyelitis, Typhoid fever
9   A01.09  Typhoid fever with other complications, Typhoi...

In [14]:
df1 = df.copy()

In [15]:
def clean_text(text):
    text = text.lower()                       
    text = re.sub(r'[^a-z0-9\s]', '', text)   
    text = re.sub(r'\s+', ' ', text).strip()   
    return text

In [16]:
df1['Description'] = df1['Description'].apply(clean_text)

In [17]:
df1.head(10)

  ICD_Code                                        Description
0    A00.0  cholera due to vibrio cholerae 01 biovar cholerae
1    A00.1     cholera due to vibrio cholerae 01 biovar eltor
2    A00.9                                cholera unspecified
3   A01.00            typhoid fever unspecified typhoid fever
4   A01.01                   typhoid meningitis typhoid fever
5   A01.02  typhoid fever with heart involvement typhoid f...
6   A01.03                    typhoid pneumonia typhoid fever
7   A01.04                    typhoid arthritis typhoid fever
8   A01.05                typhoid osteomyelitis typhoid fever
9   A01.09  typhoid fever with other complications typhoid...

In [18]:
df1.to_csv("/home/careinfolab/Dr_Luo/Rohan/ICD_Codes/Dataset/icd10-codes-and-descriptions/Codes&Desc_cleaned.csv",index=False)